.navbar-item {
    color: #4d4c4c;
    padding-inline: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.4));
}

.logo-container {
    display: flex;
    align-items: center;
}

.company-name {
    margin-left: 10px;
}