
<section class="footer pt-5">
    <div class="container-fluid">
        <div class="row master-footer p-3">
            <div class="col-3">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="col-3">
                <p>TERMS AND CONDITIONS</p>
            </div>
            <div class="col-3">
                <p>PRIVACY POLICY</p>
            </div>
            <div class="col-3">
                <p>WEBSITE TERMS AND CONDITIONS</p>
            </div>
        </div>
        <div class="row final-footer py-2">
            <div class="col text-center">
                <p class="mb-0">
                    Copyright 2023 - The Creative Balloon Company - Integrated Ideas Agency Ltd - Registered Address:
                    Greenwood, Bickley
                    Park Rd, Bromley BR1 2AT Registered Number: 13329506. Registered in England & Wales.
                </p>
            </div>
        </div>
    </div>
</section>