<section class="event-celebration">
    <div class="container-fluid">
        <div class="master-bg">
            <div class="banner-text">
                <h1>Balloon Decorators</h1>
                <h3>Balloon Decorators</h3>
                <button type="button" id="banner-button">Enquire Now</button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row my-3">
            <div class="col-sm-12 col-md-6 order-md-2 order-1">
                <img src="assets/images/photo-1.png" class="img-fluid" alt="...">
            </div>
            <div class="col-sm-12 col-md-6 order-md-1 order-2">
                <h1>Seasonal Decoration</h1>
                <h3>IT'S CHRISTMASSS!</h3>
                <p>
                    Are you looking to transform your home, office, shop, or restaurant this Christmas? Here at The
                    Creative
                    Balloon Company, we offer a bespoke design and installation service that will truly bring the spirit
                    of
                    Christmas to your door! Each setup is completely unique and built to suit your individual style,
                    home décor,
                    and chosen Christmas theme. If you are interested in any of our services, please do contact us for
                    more
                    information; we would be delighted to assist you!
                </p>
                <div class="text-end">
                    <button type="button" class="btn btn-primary">More Information</button>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-sm-12 col-md-6">
                <img src="assets/images/photo-2.png" class="img-fluid" alt="...">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>Balloons Decoration</h1>
                <h3> IT'S BIRTHDAY!</h3>
                <p>
                    Are you looking to transform your home, office, shop, or restaurant this Christmas? Here at The
                    Creative
                    Balloon Company, we offer a bespoke design and installation service that will truly bring the spirit
                    of
                    Christmas to your door! Each setup is completely unique and built to suit your individual style,
                    home décor,
                    and chosen Christmas theme. If you are interested in any of our services, please do contact us for
                    more
                    information; we would be delighted to assist you!
                </p>
                <div class="text-end">
                    <button type="button" class="" routerLink="balloon-deco">Balloon Decoration</button>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm-12 col-md-6 order-md-2 order-1">
                <img src="assets/images/photo-3.png" class="img-fluid" alt="...">
            </div>
            <div class="col-sm-12 col-md-6 order-md-1 order-2">
                <h1>Event Decoration</h1>
                <h3> IT'S ANNIVERSARY!</h3>
                <p>
                    Are you looking to transform your home, office, shop, or restaurant this Christmas? Here at The
                    Creative
                    Balloon Company, we offer a bespoke design and installation service that will truly bring the spirit
                    of
                    Christmas to your door! Each setup is completely unique and built to suit your individual style,
                    home décor,
                    and chosen Christmas theme. If you are interested in any of our services, please do contact us for
                    more
                    information; we would be delighted to assist you!
                </p>
                <div class="text-end">
                    <button type="button" class="" routerLink="event-idea">Event Idea</button>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-12 text-center">
                <img src="assets/images/banner-3.png" id="banner-2" alt="...">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>Happy Clients</h1>
            </div>
        </div>
        <div class="row mb-2 Clients-feedback">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>

        <div class="ag-courses_box">
            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        <h3>Saurabh Nale</h3>
                        <span class="justify-content-between">
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                        </span>
                        <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was
                            so
                            professional and helpful, would definitely order
                            again.Worth every penny!</p>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        <h3>Ankit Warade</h3>
                        <span class="justify-content-between">
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                        </span>
                        <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was
                            so
                            professional and helpful, would definitely order
                            again.Worth every penny!</p>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        <h3>Vishal Nemade</h3>
                        <span class="justify-content-between">
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                        </span>
                        <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was
                            so
                            professional and helpful, would definitely order
                            again.Worth every penny!</p>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        <h3>Pratik Hulavale</h3>
                        <span class="justify-content-between">
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                        </span>
                        <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was
                            so
                            professional and helpful, would definitely order
                            again.Worth every penny!</p>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        <h3>Jayesh Sutar</h3>
                        <span class="justify-content-between">
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                        </span>
                        <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was
                            so
                            professional and helpful, would definitely order
                            again.Worth every penny!</p>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        <h3>Vishvajeet Havale</h3>
                        <span class="justify-content-between">
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-solid fa-star fa-xl p-1"></i>
                            <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                        </span>
                        <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was
                            so
                            professional and helpful, would definitely order
                            again.Worth every penny!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="ContactUs">
    <div class="container ">
        <div class="row ContactUs">
            <div class="col-12 text-center">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row mb-2 Clients-feedback">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="col-sm-12 col-md-10 col-lg-7">
                <div class="mb-3">
                    <input type="text" class="form-control p-3" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control p-3" placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control p-3" placeholder="Your Contact Number">
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control p-3" placeholder="Your Message"
                        style="height: 150px;"></textarea>
                </div>
                <div class="d-grid">
                    <button class="contact-us-button" type="button">Button</button>
                </div>
            </div>
        </div>
    </div>
</section>