<section>
    <div class="container">
        <div class="row balloon-slider">
            <div class="col-md-12">
                <img src="assets/images/full slider-1.png" alt="">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>Balloon Decorations ​</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    The possibilities with balloons are endless and there is no better decoration for any occasion. All
                    of our designs are
                    created with you and your special event in mind and we promise to bring the wow factor to any
                    occasion.
                    We have a wide range of colour schemes available for you to choose from and we'll match any theme
                    you'd like us to.
                    Looking for a specific colour and can't find it? Don't worry, we'll do our best to make it
                    ourselves. With our team
                    specialising in 'Double-Stuffing', colour combinations are endless. We believe anything is possible
                    and welcome any
                    requests no matter how extravagant!
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <h1>Walls</h1>
                <h3> IT'S CHRISTMASSS!</h3>
                <p>
                    Balloon Walls can be the perfect statement piece to add to your special occasion. Made with luxury
                    latex balloons and
                    fastened to our high quality balloon frames this style is a stand out piece and a must have at any
                    event. Balloon Walls
                    can be created in range of standard colours or you can opt for a more luxurious style and have your
                    own colour scheme
                    created for you. Complete the look with our
                </p>
                <button type="button" class="">More Information</button>
            </div>
            <div class="col-md-6">
                <img src="assets/images/photo-1.png" alt="...">
            </div>
        </div>
        <div class="row slide-img">
            <div class="col-md-3">
                <img src="assets/images/Rectangle 103.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 102.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 101.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 100.png" alt="">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <img src="assets/images/photo-2.png" alt="...">
            </div>
            <div class="col-md-6">
                <h1>Arches</h1>
                <h3> IT'S BIRTHDAY!</h3>
                <p>
                    Typically found at the entrance to a venue or house, Balloon Arches are the perfect statement piece
                    to welcome your
                    guests. Created in different shapes, sizes and themes we can build something unique for you. Don’t
                    have anything to fix
                    to? Don’t worry, we have a wide range of frames & props to create almost anything!
                </p>
                <button type="button" class="">Balloon Decoration</button>
            </div>
        </div>
        <div class="row slide-img">
            <div class="col-md-3">
                <img src="assets/images/Rectangle 96.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 97.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 98.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 99.png" alt="">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <h1>Backdrops</h1>
                <h3> IT'S ANNIVERSARY!</h3>
                <p>
                    Balloon Walls can be the perfect statement piece to add to your special occasion. Made with luxury
                    latex balloons and
                    fastened to our high quality balloon frames this style is a stand out piece and a must have at any
                    event. Balloon Walls
                    can be created in range of standard colours or you can opt for a more luxurious style and have your
                    own colour scheme
                    created for you. Complete the look with our
                </p>
                <button type="button" class="">Event Idea</button>
            </div>
            <div class="col-md-6">
                <img src="assets/images/photo-3.png" alt="...">
            </div>
        </div>
        <div class="row slide-img">
            <div class="col-md-3">
                <img src="assets/images/Rectangle 103.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 102.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 101.png" alt="">
            </div>
            <div class="col-md-3">
                <img src="assets/images/Rectangle 100.png" alt="">
            </div>
        </div>
    </div>
</section>