.heart {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.line {
    width: 25%;
    height: 2px;
    object-fit: cover;
}
p {
    color: #626262;
    line-height: 30px;
}
.container button {
    background-color: #77A28B;
    width: 221px;
    height: 53px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 'mulish';
    font-size: 18px;
    margin-bottom: 10px;
}