<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>RENTAL DECOR ​</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>We offer a wide variety of rental decor that add a special touch to your event! These include; an
                    array of pipe and
                    drapes, backdrops, Marquee and Mosaic letters or numbers, custom table letters, a deluxe candy cart,
                    snack bar table, or
                    pedestals!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 121.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 122.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 123.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 124.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>