.card {
    border: 2px solid #77A28B;
}

.left-card {
    background-color: #77A28B;
    color: #ffffff;
    height: 100%;
}

.left-card h1 {
    color: #ffffff !important;
}

::placeholder {
    color: #000;
    opacity: 1;
    letter-spacing: 1px;
}

.right-card {
    height: 100;
}

.contact-us-button {
    width: 50%;
    height: 45px;
    border: 2px solid #77A28B;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Mulish', sans-serif;
    color: #77A28B;
}

.contact-us-button:hover {
    background: #77A28B;
    color: #F7F8FA !important;
    font-size: 1.2em;
}

.right-card input {
    border: none;
    border-bottom: 2px solid #77A28B;

}

.parent {
    margin-top: -137px;
}



.map {
    height: calc(100% - 145px);
}

@media only screen and (max-width: 639px) {
    .map {
        height: calc(100% - 285px);
    }

    
}

