<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>Contact Us ​</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>

        <div class="card my-5">
            <div class="row">
                <div class="col-md-5 h-50 d-inline-block">
                    <div class="container-fluid left-card m-0 p-0">
                        <div class="row text-center ms-5">
                            <div class="col-md-12 text-start mt-3">
                                <h1>Get In Touch</h1>
                                <p>Amet minim mollit non deserunt ullamco est sit<br>
                                    aliqua dolor do amet sint. Velit officia
                                    consequat <br>duis enim velit
                                    mollit. Exercitation veniam consequat</p>
                            </div>
                            <div class="row text-center m-0 p-0">
                                <div class="col-sm-12 text-start">
                                    <h2> Contact</h2>
                                    <p><i class="fas fa-home mr-3"></i> Pyramid County, Pansare Colony
                                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bhukum, Pune, Maharastra, 443101
                                    </p>
                                    <p><i class="fas fa-envelope mr-3"></i> culturecontact@gmail.com</p>
                                    <p><i class="fas fa-phone mr-3"></i> + 91 95117487..</p>
                                    <p><i class="fas fa-phone mr-3"></i> + 91 84129751..</p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="col-sm-12 parent">
                                <img class="image1 w-100" src="assets/images/sun-1.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 right-card m-0">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            <div class="row m-4">
                                <div class="col-6">
                                    <input type="text" class="form-control p-2" placeholder="First Name">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control p-2" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col-6">
                                    <input type="text" class="form-control p-2" placeholder="Email Name">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control p-2" placeholder="Phone Name">
                                </div>
                            </div>
                            <div class="row m-4">
                                <div class="col">
                                    <input type="text" class="form-control p-2" placeholder="Message">
                                </div>
                            </div>
                            <div class="m-3 text-end pe-3">
                                <button class="contact-us-button" type="button">Button</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.787139500952!2d73.7161896760146!3d18.493298582594996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bd253298362d%3A0xb1aecc13c42c4c72!2sPyramid%20County!5e0!3m2!1sen!2sin!4v1709742956914!5m2!1sen!2sin"
                                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>