<section class="about-us">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <img src="assets/images/about-us-1.png" alt="...">
            </div>
            <div class="col-md-6">
                <h1>ABOUT US</h1>
                <p>
                    We are based in Bromley, Kent and provide bespoke balloon designs, event decoration & prop hire for
                    any special occasion
                    or event. We were founded in 2018 as a prop hire company and have since expanded due to my love for
                    balloon decoration &
                    event styling. My passion for balloons started at a young age, since then I have dreamt of bringing
                    my designs to life
                    for others to love & enjoy
                </p>
                <button type="button" class="">More Information</button>
            </div>

        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <h1>Our Promise</h1>
                <p>
                    We promise to provide a stress-free experience for all of our customers and love to take a hands-on
                    approach when it
                    comes to designing your event. We pride ourselves on using the best quality products and believe
                    that high standards are
                    important. We only work with leading suppliers for our balloons, flowers, decorations & props and
                    don’t believe in using
                    cheap alternatives. All of our balloons are 100% biodegradable. We frequently re-furbish all of our
                    equipment and will
                    only hire our products at a standard that we would be happy with at our own events. All of our props
                    are designed by us
                    and created by skilled craftsman, you won't find any better! Exceptional customer service is at the
                    heart of what we do
                    and we truly love what we do! Whilst small, we're a registered limited company, have the relevant
                    insurances and all
                    certifications required.
                </p>
                <button type="button" class="">Balloon Decoration</button>
            </div>
            <div class="col-md-6">
                <img src="assets/images/about-us-2.png" alt="...">
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center my-3">
                    <h1>Our Partners</h1>
                </div>
            </div>
            <div class="row mb-2 Clients-feedback">
                <div class="col-md-12 text-center">
                    <img src="assets/images/line-1.png" alt="" class="line mx-3">
                    <img src="assets/images/heart-1.png" alt="" id="heart-1">
                    <img src="assets/images/line-1.png" alt="" class="line mx-3">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-12 text-center">
                    <img src="assets/images/event-count-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>Happy Clients</h1>
            </div>
        </div>
        <div class="row mb-2 Clients-feedback">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>

        <div class="row my-5 text-center d-flex align-items-center Clients-feedback">
            <div class="col-sm-1">
                <img src="assets/images/left-arrow.png" alt="">
            </div>
            <div class="col-sm-3">
                <h3>Daniel Keeping</h3>
                <span class="justify-content-between">
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                </span>
                <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was so
                    professional and helpful, would definitely order
                    again.Worth every penny!</p>
            </div>
            <div class="col-sm-3">
                <h3>Daniel Keeping</h3>
                <span class="justify-content-between">
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-regular fa-star fa-lg"></i>
                </span>
                <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was so
                    professional and helpful, would definitely order
                    again.Worth every penny!</p>
            </div>
            <div class="col-sm-3">
                <h3>Daniel Keeping</h3>
                <span class="justify-content-between">
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-solid fa-star fa-xl p-1"></i>
                    <i class="fa-regular fa-star-half-stroke fa-xl p-"></i>
                </span>
                <p class="card-text my-3">Ordered Mother’s Day flowers, they are absolutely stunning! Jess was so
                    professional and helpful, would definitely order
                    again.Worth every penny!</p>
            </div>
            <div class="col-sm-1">
                <img src="assets/images/right-arrow.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="ContactUs">
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>Contact Us</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="text" class="form-control p-2" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control p-2" placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control p-2" placeholder="Your Contact Number">
                </div>
                <div class="mb-3">
                    <textarea type="text" class="form-control p-2" placeholder="Your Message"
                        style="height: 150px;"></textarea>
                </div>
                <div class="d-grid">
                    <button class="contact-us-button" type="button">Button</button>
                </div>
            </div>
        </div>
    </div>
</section>
