<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>RENTAL DECOR ​</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>We offer a wide variety of rental decor that add a special touch to your event! These include; an
                    array of pipe and
                    drapes, backdrops, Marquee and Mosaic letters or numbers, custom table letters, a deluxe candy cart,
                    snack bar table, or
                    pedestals!</p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 129.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>WHITE ROUND BACKDROP</h3>
                        <p class="card-text">Item #331 Size: 8x8
                        $250 Daily Rental</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 130.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>BLACK ROUND BACKDROP</h3>
                        <p class="card-text">Item #537 Size: 8x8
                        $250 Daily Rental</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 131.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>GOLD ROUND BACKDROP</h3>
                        <p class="card-text">Item #538 Size: 8x8
                        $300 Daily Rental</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 132.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>ROUND TURF BACKDROP</h3>
                        <p class="card-text">Item #537 Size: 8x8
                        $250 Daily Rental</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 137.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>GREEN TURF BACKDROP</h3>
                        <p class="card-text">Item #331 Size: 8x8
                            $250 Daily Rental</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 138.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>WHITE FLOWER WALL</h3>
                        <p class="card-text">Item #537 Size: 8x8
                            $250 Daily Rental</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 139.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>PINK FLOWER WALL</h3>
                        <p class="card-text">Item #538 Size: 8x8
                            $300 Daily Rental</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <img src="assets/images/Rectangle 140.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3>RED FLOWER WALL</h3>
                        <p class="card-text">Item #537 Size: 8x8
                            $250 Daily Rental</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>