<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>RENTAL DECOR ​</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>We offer a wide variety of rental decor that add a special touch to your event! These include; an
                    array of pipe and
                    drapes, backdrops, Marquee and Mosaic letters or numbers, custom table letters, a deluxe candy cart,
                    snack bar table, or
                    pedestals!</p>
            </div>
        </div>
        <ul class="cards">
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 129.png"
                            alt="mixed vegetable salad in a mason jar. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Farmstand Salad &#x2022; $9</h2>
                        <div class="card_text">
                            <span class="note">WHITE ROUND BACKDROP</span>
                            <p>Item #331 Size: 8x8
                                $250 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 130.png"
                            alt="a Reuben sandwich on wax paper. ">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Ultimate Reuben &#x2022; $18</h2>
                        <div class="card_text">
                            <span class="note">BLACK ROUND BACKDROP</span>
                            <p>Item #537 Size: 8x8
                                $250 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 131.png"
                            alt="a Reuben sandwich on wax paper. ">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">Ultimate Reuben &#x2022; $18</h2>
                        <div class="card_text">
                            <span class="note">GOLD ROUND BACKDROP</span>
                            <p>Item #538 Size: 8x8
                                $300 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 132.png"
                            alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Fig &amp; Berry Plate &#x2022; $16</h2>
                        <div class="card_text">
                            <span class="note">ROUND TURF BACKDROP</span>
                            <p>Item #537 Size: 8x8
                                $250 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 137.png"
                            alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Fig &amp; Berry Plate &#x2022; $16</h2>
                        <div class="card_text">
                            <span class="note">GREEN TURF BACKDROP</span>
                            <p>Item #331 Size: 8x8
                                $250 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 138.png"
                            alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Fig &amp; Berry Plate &#x2022; $16</h2>
                        <div class="card_text">
                            <span class="note">WHITE FLOWER WALL</span>
                            <p>Item #537 Size: 8x8
                                $250 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 139.png"
                            alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Fig &amp; Berry Plate &#x2022; $16</h2>
                        <div class="card_text">
                            <span class="note">PINK FLOWER WALL</span>
                            <p>Item #538 Size: 8x8
                                $300 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" tabindex="0">
                    <div class="card_image"><img src="assets/images/Rectangle 140.png"
                            alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Fig &amp; Berry Plate &#x2022; $16</h2>
                        <div class="card_text">
                            <span class="note">RED FLOWER WALL</span>
                            <p>Item #537 Size: 8x8
                                $250 Daily Rental</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>