<section>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <h1>Events Idea ​</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row event-idea">
            <div class="col-md-6">
                <img src="assets/images/event-1.png" alt="...">
            </div>
            <div class="col-md-6">
                <h1>Birthday's</h1>
                <h3>IT'S BIRTHDAY!</h3>
                <p>
                    To us, every birthday is an occasion to be celebrated, and celebrated in style it should be! Our
                    beautiful balloon
                    displays are an incredible way to add something mesmerising to your special day. We have stunning
                    backdrops available to
                    fit any theme and can offer a range of decoration pieces & ‘Light Up Numbers’ to complete the look.
                </p>
                <button type="button" class="">More Information</button>
            </div>
        </div>
        <div class="container">


            <div class="row my-4">
                <div class="col-sm-12">
                    <img src="assets/images/Rectangle 1.png" class="img-fluid w-25 p-1" alt="">
                    <img src="assets/images/Rectangle 5.png" class="img-fluid w-25 p-1" alt="">
                    <img src="assets/images/Rectangle 3.png" class="img-fluid w-25 p-1" alt="">
                    <img src="assets/images/Rectangle 6.png" class="img-fluid w-25 p-1" alt="">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12 text-center">
                    <img src="assets/images/line-1.png" alt="" class="line mx-3">
                    <img src="assets/images/heart-1.png" alt="" id="heart-1">
                    <img src="assets/images/line-1.png" alt="" class="line mx-3">
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-12 col-md-7 order-md-2 order-1">
                <img src="assets/images/event-2.png" class="img-fluid">
            </div>
            <div class="sol-sm-12 col-md-5 order-md-1 order-2">
                <h1>Children's Parties</h1>
                <h3> IT'S BIRTHDAY!</h3>
                <p>
                    We offer various services to design and setup your child’s birthday party, from bespoke balloons
                    to
                    a complete tea party
                    setup. Any age and any theme – we can do it all! With our extensive set of props & decorations,
                    we
                    can help bring to
                    life your thoughts & ideas to ensure your little one has a birthday to remember!
                </p>
                <button type="button" class="">Balloon Decoration</button>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/Rectangle 96.png" class="img-fluid w-25 p-1" alt="">
                <img src="assets/images/Rectangle 97.png" class="img-fluid w-25 p-1" alt="">
                <img src="assets/images/Rectangle 98.png" class="img-fluid w-25 p-1" alt="">
                <img src="assets/images/Rectangle 99.png" class="img-fluid w-25 p-1" alt="">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12 text-center">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
                <img src="assets/images/heart-1.png" alt="" id="heart-1">
                <img src="assets/images/line-1.png" alt="" class="line mx-3">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-7">
                <img src="assets/images/event-3.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-5">
                <h1>Weddings</h1>
                <h3> IT'S ANNIVERSARY!</h3>
                <p>
                    Would you like to add that extra special touch to your big day? Whether it’s a church, reception
                    hall or entire venue,
                    we can provide bespoke balloon designs, personalised backdrops and gorgeous decorations to give
                    your
                    wedding day that
                    extra wow factor. Balloon & Floral backdrops along with some of our wedding-specific props are
                    the
                    ultimate way complete
                    the look!
                </p>
                <button type="button" class="">Event Idea</button>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <img src="assets/images/Rectangle 110.png" class="img-fluid w-25 p-1" alt="">
                <img src="assets/images/Rectangle 111.png" class="img-fluid w-25 p-1" alt="">
                <img src="assets/images/Rectangle 112.png" class="img-fluid w-25 p-1" alt="">
                <img src="assets/images/Rectangle 113.png" class="img-fluid w-25 p-1" alt="">
            </div>
        </div>

    </div>
</section>