.event-idea img {
    width: 100%;
    content: cover;
}

h1 {
    font-size: 70px;
    color: #77A28B;
}

h3 {
    color: #626262;
}

.heart {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.line {
    width: 25%;
    height: 2px;
    object-fit: cover;
}

.container button {
    background-color: #77A28B;
    width: 221px;
    height: 53px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 'mulish';
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 425.98px) {
    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 20px;
    }
}